# Analyzing Portfolio Risk and Return

In this Challenge, you'll assume the role of a quantitative analyst for a FinTech investing platform. This platform aims to offer clients a one-stop online investment solution for their retirement portfolios that’s both inexpensive and high quality. (Think about [Wealthfront](https://www.wealthfront.com/) or [Betterment](https://www.betterment.com/)). To keep the costs low, the firm uses algorithms to build each client's portfolio. The algorithms choose from various investment styles and options.

You've been tasked with evaluating four new investment options for inclusion in the client portfolios. Legendary fund and hedge-fund managers run all four selections. (People sometimes refer to these managers as **whales**, because of the large amount of money that they manage). You’ll need to determine the fund with the most investment potential based on key risk-management metrics: the daily returns, standard deviations, Sharpe ratios, and betas.

## Instructions

### Import the Data

Use the ``project_ark_invest.ipynb`` file to complete the following steps:

1. Import the required libraries and dependencies.

2. Use the ALPACA_API_KEY and ALPACA_SECRET_KEY to read the five ark invest ETF's ( ARKK, ARKQ, ARKW, ARKG, ARKF) data's  into a Pandas DataFrame.  Review the first five rows of the DataFrame by using the `head` function.

3. Use the Pandas `pct_change` function together with `dropna` to create the daily returns DataFrame. Base this DataFrame on the NAV prices of the four portfolios and on the closing price of the S&P 500 Index. Review the first five rows of the daily returns DataFrame.

### Analyze the Performance

Analyze the data to determine if any of the portfolios outperform the broader stock market, which the S&P 500 represents. To do so, complete the following steps:

1. Use the default Pandas `plot` function to visualize the daily return data of the four fund portfolios and the S&P 500. Be sure to include the `title` parameter, and adjust the figure size if necessary.

2. Use the Pandas `cumprod` function to calculate the cumulative returns for the four fund portfolios and the S&P 500. Review the last five rows of the cumulative returns DataFrame by using the Pandas `tail` function.

3. Use the default Pandas `plot` to visualize the cumulative return values for the four funds and the S&P 500 over time. Be sure to include the `title` parameter, and adjust the figure size if necessary.

4. Answer the following question: Based on the cumulative return data and the visualization, do any of the four fund portfolios outperform the S&P 500 Index?

### Analyze the Volatility

Analyze the volatility of each of the four fund portfolios and of the S&P 500 Index by using box plots. To do so, complete the following steps:

1. Use the Pandas `plot` function and the `kind="box"` parameter to visualize the daily return data for each of the four portfolios and for the S&P 500 in a box plot. Be sure to include the `title` parameter, and adjust the figure size if necessary.

2. Use the Pandas `drop` function to create a new DataFrame that contains the data for just the four fund portfolios by dropping the S&P 500 column. Visualize the daily return data for just the four fund portfolios by using another box plot. Be sure to include the `title` parameter, and adjust the figure size if necessary.

    > **Hint** Save this new DataFrame&mdash;the one that contains the data for just the four fund portfolios. You’ll use it throughout the analysis.

3. Answer the following question: Based on the box plot visualization of just the four fund portfolios, which fund was the most volatile (with the greatest spread) and which was the least volatile (with the smallest spread)?

### Analyze the Risk

Evaluate the risk profile of each portfolio by using the standard deviation and the beta. To do so, complete the following steps:

1. Use the Pandas `std` function to calculate the standard deviation for each of the four portfolios and for the S&P 500. Review the standard deviation calculations, sorted from smallest to largest.

2. Calculate the annualized standard deviation for each of the four portfolios and for the S&P 500. To do that, multiply the standard deviation by the square root of the number of trading days. Use 252 for that number.

3. Use the daily returns DataFrame and a 21-day rolling window to plot the rolling standard deviations of the four fund portfolios and of the S&P 500 index. Be sure to include the `title` parameter, and adjust the figure size if necessary.

4. Use the daily returns DataFrame and a 21-day rolling window to plot the rolling standard deviations of only the four fund portfolios. Be sure to include the `title` parameter, and adjust the figure size if necessary.

5. Answer the following three questions:

* Based on the annualized standard deviation, which portfolios pose more risk than the S&P 500?

* Based on the rolling metrics, does the risk of each portfolio increase at the same time that the risk of the S&P 500 increases?

* Based on the rolling standard deviations of only the four fund portfolios, which portfolio poses the most risk? Does this change over time?

### Analyze the Risk-Return Profile

To determine the overall risk of an asset or portfolio, quantitative analysts and investment managers consider not only its risk metrics but also its risk-return profile. After all, if you have two portfolios that each offer a 10% return but one has less risk, you’d probably invest in the smaller-risk portfolio. For this reason, you need to consider the Sharpe ratios for each portfolio. To do so, complete the following steps:

1. Use the daily return DataFrame to calculate the annualized average return data for the four fund portfolios and for the S&P 500. Use 252 for the number of trading days. Review the annualized average returns, sorted from lowest to highest.

2. Calculate the Sharpe ratios for the four fund portfolios and for the S&P 500. To do that, divide the annualized average return by the annualized standard deviation for each. Review the resulting Sharpe ratios, sorted from lowest to highest.

3. Visualize the Sharpe ratios for the four funds and for the S&P 500 in a bar chart. Be sure to include the `title` parameter, and adjust the figure size if necessary.

4. Answer the following question: Which of the four portfolios offers the best risk-return profile? Which offers the worst?

#### Diversify the Portfolio

Your analysis is nearing completion. Now, you need to evaluate how the portfolios react relative to the broader market. Based on your analysis so far, choose two portfolios that you’re most likely to recommend as investment options. To start your analysis, complete the following step:

* Use the Pandas `var` function to calculate the variance of the S&P 500 by using a 60-day rolling window. Visualize the last five rows of the variance of the S&P 500.

Next, for each of the two portfolios that you chose, complete the following steps:

1. Using the 60-day rolling window, the daily return data, and the S&P 500 returns, calculate the covariance. Review the last five rows of the covariance of the portfolio.

2. Calculate the beta of the portfolio. To do that, divide the covariance of the portfolio by the variance of the S&P 500.

3. Use the Pandas `mean` function to calculate the average value of the 60-day rolling beta of the portfolio.

4. Plot the 60-day rolling beta. Be sure to include the `title` parameter, and adjust the figure size if necessary.

Finally, answer the following two questions:

* Which of the two portfolios seem more sensitive to movements in the S&P 500?

* Which of the two portfolios do you recommend for inclusion in your firm’s suite of fund offerings?

# Analyzing Portfolio Risk and Return

In this Challenge, you'll assume the role of a quantitative analyst for a FinTech investing platform. This platform aims to offer clients a one-stop online investment solution for their retirement portfolios that’s both inexpensive and high quality. (Think about [Wealthfront](https://www.wealthfront.com/) or [Betterment](https://www.betterment.com/)). To keep the costs low, the firm uses algorithms to build each client's portfolio. The algorithms choose from various investment styles and options.

You've been tasked with evaluating four new investment options for inclusion in the client portfolios. Legendary fund and hedge-fund managers run all four selections. (People sometimes refer to these managers as **whales**, because of the large amount of money that they manage). You’ll need to determine the fund with the most investment potential based on key risk-management metrics: the daily returns, standard deviations, Sharpe ratios, and betas.

## Instructions

### Import the Data

Use the ``risk_return_analysis.ipynb`` file to complete the following steps:

1. Import the required libraries and dependencies.

2. Use the `read_csv` function and the `Path` module to read the `whale_navs.csv` file into a Pandas DataFrame. Be sure to create a `DateTimeIndex`. Review the first five rows of the DataFrame by using the `head` function.

3. Use the Pandas `pct_change` function together with `dropna` to create the daily returns DataFrame. Base this DataFrame on the NAV prices of the four portfolios and on the closing price of the S&P 500 Index. Review the first five rows of the daily returns DataFrame.

### Analyze the Performance

Analyze the data to determine if any of the portfolios outperform the broader stock market, which the S&P 500 represents. To do so, complete the following steps:

1. Use the default Pandas `plot` function to visualize the daily return data of the four fund portfolios and the S&P 500. Be sure to include the `title` parameter, and adjust the figure size if necessary.

2. Use the Pandas `cumprod` function to calculate the cumulative returns for the four fund portfolios and the S&P 500. Review the last five rows of the cumulative returns DataFrame by using the Pandas `tail` function.

3. Use the default Pandas `plot` to visualize the cumulative return values for the four funds and the S&P 500 over time. Be sure to include the `title` parameter, and adjust the figure size if necessary.

4. Answer the following question: Based on the cumulative return data and the visualization, do any of the four fund portfolios outperform the S&P 500 Index?

### Analyze the Volatility

Analyze the volatility of each of the four fund portfolios and of the S&P 500 Index by using box plots. To do so, complete the following steps:

1. Use the Pandas `plot` function and the `kind="box"` parameter to visualize the daily return data for each of the four portfolios and for the S&P 500 in a box plot. Be sure to include the `title` parameter, and adjust the figure size if necessary.

2. Use the Pandas `drop` function to create a new DataFrame that contains the data for just the four fund portfolios by dropping the S&P 500 column. Visualize the daily return data for just the four fund portfolios by using another box plot. Be sure to include the `title` parameter, and adjust the figure size if necessary.

    > **Hint** Save this new DataFrame&mdash;the one that contains the data for just the four fund portfolios. You’ll use it throughout the analysis.

3. Answer the following question: Based on the box plot visualization of just the four fund portfolios, which fund was the most volatile (with the greatest spread) and which was the least volatile (with the smallest spread)?

### Analyze the Risk

Evaluate the risk profile of each portfolio by using the standard deviation and the beta. To do so, complete the following steps:

1. Use the Pandas `std` function to calculate the standard deviation for each of the four portfolios and for the S&P 500. Review the standard deviation calculations, sorted from smallest to largest.

2. Calculate the annualized standard deviation for each of the four portfolios and for the S&P 500. To do that, multiply the standard deviation by the square root of the number of trading days. Use 252 for that number.

3. Use the daily returns DataFrame and a 21-day rolling window to plot the rolling standard deviations of the four fund portfolios and of the S&P 500 index. Be sure to include the `title` parameter, and adjust the figure size if necessary.

4. Use the daily returns DataFrame and a 21-day rolling window to plot the rolling standard deviations of only the four fund portfolios. Be sure to include the `title` parameter, and adjust the figure size if necessary.

5. Answer the following three questions:

* Based on the annualized standard deviation, which portfolios pose more risk than the S&P 500?

* Based on the rolling metrics, does the risk of each portfolio increase at the same time that the risk of the S&P 500 increases?

* Based on the rolling standard deviations of only the four fund portfolios, which portfolio poses the most risk? Does this change over time?

### Analyze the Risk-Return Profile

To determine the overall risk of an asset or portfolio, quantitative analysts and investment managers consider not only its risk metrics but also its risk-return profile. After all, if you have two portfolios that each offer a 10% return but one has less risk, you’d probably invest in the smaller-risk portfolio. For this reason, you need to consider the Sharpe ratios for each portfolio. To do so, complete the following steps:

1. Use the daily return DataFrame to calculate the annualized average return data for the four fund portfolios and for the S&P 500. Use 252 for the number of trading days. Review the annualized average returns, sorted from lowest to highest.

2. Calculate the Sharpe ratios for the four fund portfolios and for the S&P 500. To do that, divide the annualized average return by the annualized standard deviation for each. Review the resulting Sharpe ratios, sorted from lowest to highest.

3. Visualize the Sharpe ratios for the four funds and for the S&P 500 in a bar chart. Be sure to include the `title` parameter, and adjust the figure size if necessary.

4. Answer the following question: Which of the four portfolios offers the best risk-return profile? Which offers the worst?

#### Diversify the Portfolio

Your analysis is nearing completion. Now, you need to evaluate how the portfolios react relative to the broader market. Based on your analysis so far, choose two portfolios that you’re most likely to recommend as investment options. To start your analysis, complete the following step:

* Use the Pandas `var` function to calculate the variance of the S&P 500 by using a 60-day rolling window. Visualize the last five rows of the variance of the S&P 500.

Next, for each of the two portfolios that you chose, complete the following steps:

1. Using the 60-day rolling window, the daily return data, and the S&P 500 returns, calculate the covariance. Review the last five rows of the covariance of the portfolio.

2. Calculate the beta of the portfolio. To do that, divide the covariance of the portfolio by the variance of the S&P 500.

3. Use the Pandas `mean` function to calculate the average value of the 60-day rolling beta of the portfolio.

4. Plot the 60-day rolling beta. Be sure to include the `title` parameter, and adjust the figure size if necessary.

Finally, answer the following two questions:

* Which of the two portfolios seem more sensitive to movements in the S&P 500?

* Which of the two portfolios do you recommend for inclusion in your firm’s suite of fund offerings?

In [9]:
import csv
from pathlib import Path
import numpy as np
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [15]:
load_dotenv()

True

### Analyze the Performance

Analyze the data to determine if any of the portfolios outperform the broader stock market, which the S&P 500 represents. To do so, complete the following steps:

1. Use the default Pandas `plot` function to visualize the daily return data of the four fund portfolios and the S&P 500. Be sure to include the `title` parameter, and adjust the figure size if necessary.

2. Use the Pandas `cumprod` function to calculate the cumulative returns for the four fund portfolios and the S&P 500. Review the last five rows of the cumulative returns DataFrame by using the Pandas `tail` function.

3. Use the default Pandas `plot` to visualize the cumulative return values for the four funds and the S&P 500 over time. Be sure to include the `title` parameter, and adjust the figure size if necessary.

4. Answer the following question: Based on the cumulative return data and the visualization, do any of the four fund portfolios outperform the S&P 500 Index?

In [20]:
# Set the variables for the Alpaca API and secret keys
# YOUR CODE HERE
# YOUR CODE HERE
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
alpaca_api_key 
alpaca_secret_key 
# Create the Alpaca tradeapi.REST object
# YOUR CODE HERE
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [195]:
tickers = ["ARKK", "ARKQ", "ARKW", "ARKG", "ARKF"]
# Set timeframe to 1D 
# YOUR CODE HERE
timeframe = "1D"

# Format current date as ISO format
# Set both the start and end date at the date of your prior weekday 
# This will give you the closing price of the previous trading day
# Alternatively you can use a start and end date of 2020-08-07
start_date = pd.Timestamp("2019-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-02-14", tz="America/New_York").isoformat()

In [196]:
prices_ark_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000
).df

# Review the first 5 rows of the Alpaca DataFrame
# YOUR CODE HERE
display(prices_ark_df.head())
display(prices_ark_df.tail())

<ipython-input-196-8d1cd8bb1391>:1: DeprecatedWarning: get_barset is deprecated as of v1.0.0. Use get_bars instead
  prices_ark_df = alpaca.get_barset(

                          ARKF                         ARKG                    \
                          open high low close volume   open     high      low
time
2019-01-02 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  23.69  24.4599  23.4522
2019-01-03 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  24.50  24.6699  24.0883
2019-01-04 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  24.60  25.8402  24.6000
2019-01-07 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  26.56  27.5199  26.3490
2019-01-08 00:00:00-05:00  NaN  NaN NaN   NaN    NaN  27.70  27.7899  26.5700

                                            ...     ARKQ                    \
                             close  volume  ...     open     high      low
time                                        ...
2019-01-02 00:00:00-05:00  24.4200  112959  ...  29.0900  29.7500  28.9200
2019-01-03 00:00:00-05:00  24.2800   67885  ...  29.3000  29.3000  28.4100
2019-01-04 00:00:00-05:00  25.6641  143234  ...  28.8663  29.7880  28.8662
2019-01-07 00:00:00-05:00  27.3300  216408  ...  29.6800  30.6499  29.6800
2019-01-08 00:00:00-05:00  27.0893  190588  ...  30.8800  31.0000  30.2500

                                              ARKW                          \
                             close   volume   open    high      low  close
time
2019-01-02 00:00:00-05:00  29.5613  21085.0  41.42  42.660  41.2506  42.36
2019-01-03 00:00:00-05:00  28.4200  12651.0  41.93  42.070  40.7400  40.94
2019-01-04 00:00:00-05:00  29.7120   7813.0  41.74  43.800  41.7400  43.46
2019-01-07 00:00:00-05:00  30.3676  10804.0  43.73  45.238  43.6950  45.07
2019-01-08 00:00:00-05:00  30.7000  22148.0  45.69  45.860  44.3234  45.46


                             volume
time
2019-01-02 00:00:00-05:00  219450.0
2019-01-03 00:00:00-05:00   92721.0
2019-01-04 00:00:00-05:00  106096.0
2019-01-07 00:00:00-05:00  129846.0
2019-01-08 00:00:00-05:00  114473.0

[5 rows x 25 columns]

                            ARKF                                   ARKG  \
                            open   high    low  close     volume   open
time
2022-02-08 00:00:00-05:00  30.85  31.62  30.47  31.53   725293.0  48.73
2022-02-09 00:00:00-05:00  32.50  33.43  32.17  33.38   940307.0  49.33
2022-02-10 00:00:00-05:00  32.72  34.38  32.29  32.54  1735063.0  49.53
2022-02-11 00:00:00-05:00  32.82  33.40  31.28  31.67  2341806.0  49.93
2022-02-14 00:00:00-05:00  31.24  32.52  31.11  31.56   971266.0  48.45

                                                          ...    ARKQ  \
                            high    low   close   volume  ...    open
time                                                      ...
2022-02-08 00:00:00-05:00  49.19  47.58  48.540  2530565  ...  64.760
2022-02-09 00:00:00-05:00  51.38  49.16  51.155  2561456  ...  67.020
2022-02-10 00:00:00-05:00  52.47  49.07  49.680  2373710  ...  66.140
2022-02-11 00:00:00-05:00  51.36  48.04  48.540  3713420  ...  66.080
2022-02-14 00:00:00-05:00  49.41  47.34  47.620  2368943  ...  64.755

                                                               ARKW          \
                              high      low  close    volume   open    high
time
2022-02-08 00:00:00-05:00  66.2701  64.3600  66.15  254854.0  91.55   93.52
2022-02-09 00:00:00-05:00  67.8800  66.8500  67.81  332511.0  95.05   97.77
2022-02-10 00:00:00-05:00  68.5750  65.8300  66.13  344570.0  95.87  100.17
2022-02-11 00:00:00-05:00  67.3900  64.4901  65.00  382067.0  95.79   97.01
2022-02-14 00:00:00-05:00  66.1400  64.4100  64.90  331515.0  91.80   94.90


                             low  close     volume
time
2022-02-08 00:00:00-05:00  90.17  93.38  1477641.0
2022-02-09 00:00:00-05:00  94.20  97.71   906476.0
2022-02-10 00:00:00-05:00  94.29  95.05  1676550.0
2022-02-11 00:00:00-05:00  91.13  92.22  1176378.0
2022-02-14 00:00:00-05:00  90.87  91.97   673803.0

[5 rows x 25 columns]

In [202]:
prices_ark_df=prices_ark_df.dropna()
prices_ark_df
#prices_ark_close_dfd = prices_ark_close_df.drop(prices_ark_close_df.iloc[:, 1:"close"], axis=1, inplace=True)
#prices_ark_close_dfd

                            ARKF                                        ARKG  \
                            open     high     low    close     volume   open
time
2019-02-04 00:00:00-05:00  20.16  20.4100  20.157  20.3552    57308.0  28.30
2019-02-05 00:00:00-05:00  20.48  20.6100  20.430  20.5499   112747.0  28.70
2019-02-06 00:00:00-05:00  20.52  20.5336  20.310  20.4800    45401.0  28.40
2019-02-07 00:00:00-05:00  20.29  20.3200  20.000  20.1699    59265.0  28.07
2019-02-08 00:00:00-05:00  20.00  20.2100  19.950  20.1799    20976.0  27.29
...                          ...      ...     ...      ...        ...    ...
2022-02-08 00:00:00-05:00  30.85  31.6200  30.470  31.5300   725293.0  48.73
2022-02-09 00:00:00-05:00  32.50  33.4300  32.170  33.3800   940307.0  49.33
2022-02-10 00:00:00-05:00  32.72  34.3800  32.290  32.5400  1735063.0  49.53
2022-02-11 00:00:00-05:00  32.82  33.4000  31.280  31.6700  2341806.0  49.93
2022-02-14 00:00:00-05:00  31.24  32.5200  31.110  31.5600   971266.0  48.45

                                                             ...    ARKQ  \
                              high    low    close   volume  ...    open
time                                                         ...
2019-02-04 00:00:00-05:00  28.5700  28.05  28.5500   367182  ...  33.400
2019-02-05 00:00:00-05:00  29.0000  28.21  28.3309    69300  ...  33.740
2019-02-06 00:00:00-05:00  28.5900  28.16  28.4100    43525  ...  34.110
2019-02-07 00:00:00-05:00  28.2362  27.34  27.6100    88903  ...  33.410
2019-02-08 00:00:00-05:00  27.8899  27.29  27.7500    39243  ...  33.090
...                            ...    ...      ...      ...  ...     ...
2022-02-08 00:00:00-05:00  49.1900  47.58  48.5400  2530565  ...  64.760
2022-02-09 00:00:00-05:00  51.3800  49.16  51.1550  2561456  ...  67.020
2022-02-10 00:00:00-05:00  52.4700  49.07  49.6800  2373710  ...  66.140
2022-02-11 00:00:00-05:00  51.3600  48.04  48.5400  3713420  ...  66.080
2022-02-14 00:00:00-05:00  49.4100  47.34  47.6200  2368943  ...  64.755

                                                                ARKW  \
                              high      low   close    volume   open
time
2019-02-04 00:00:00-05:00  33.7400  33.1800  33.667   35924.0  49.50
2019-02-05 00:00:00-05:00  34.1300  33.6800  34.130   36004.0  50.45
2019-02-06 00:00:00-05:00  34.4400  34.0700  34.210   39416.0  50.67
2019-02-07 00:00:00-05:00  33.5900  32.9200  33.110   93355.0  49.64
2019-02-08 00:00:00-05:00  33.3500  32.8400  33.280   14470.0  48.67
...                            ...      ...     ...       ...    ...
2022-02-08 00:00:00-05:00  66.2701  64.3600  66.150  254854.0  91.55
2022-02-09 00:00:00-05:00  67.8800  66.8500  67.810  332511.0  95.05
2022-02-10 00:00:00-05:00  68.5750  65.8300  66.130  344570.0  95.87
2022-02-11 00:00:00-05:00  67.3900  64.4901  65.000  382067.0  95.79
2022-02-14 00:00:00-05:00  66.1400  64.4100  64.900  331515.0  91.80


                               high      low    close     volume
time
2019-02-04 00:00:00-05:00   50.4100  49.3900  50.2661   124226.0
2019-02-05 00:00:00-05:00   50.8600  50.4150  50.6800   141990.0
2019-02-06 00:00:00-05:00   50.7981  49.9401  50.4200   114711.0
2019-02-07 00:00:00-05:00   49.6400  48.5001  49.2500   112203.0
2019-02-08 00:00:00-05:00   49.6400  48.6700  49.5600   149215.0
...                             ...      ...      ...        ...
2022-02-08 00:00:00-05:00   93.5200  90.1700  93.3800  1477641.0
2022-02-09 00:00:00-05:00   97.7700  94.2000  97.7100   906476.0
2022-02-10 00:00:00-05:00  100.1700  94.2900  95.0500  1676550.0
2022-02-11 00:00:00-05:00   97.0100  91.1300  92.2200  1176378.0
2022-02-14 00:00:00-05:00   94.9000  90.8700  91.9700   673803.0

[761 rows x 25 columns]

In [213]:
#prices_arkk_df_close = prices_ark_df.droplevel('open', axis=1) 
#prices_arkk_df_close = prices_ark_df[["ARKK","ARKQ"],["close",'close']]                         
#bitstamp_sliced = bitstamp.loc[:, ["Close"]]
#agg_close_price = float(prices_df["AGG"]["close"])
prices_arkk_df_close = prices_ark_df["ARKK"]["close"] 
display(prices_arkk_df_close)

#sfo_data_df[["year","housing_units"]]
#   .groupby("year")
#df.drop(df.columns[[0]], axis=1, inplace=True)

time
2019-02-04 00:00:00-05:00    43.79
2019-02-05 00:00:00-05:00    43.91
2019-02-06 00:00:00-05:00    43.98
2019-02-07 00:00:00-05:00    42.50
2019-02-08 00:00:00-05:00    42.93
                             ...
2022-02-08 00:00:00-05:00    72.39
2022-02-09 00:00:00-05:00    76.03
2022-02-10 00:00:00-05:00    73.84
2022-02-11 00:00:00-05:00    71.82
2022-02-14 00:00:00-05:00    71.37
Name: close, Length: 761, dtype: float64

In [209]:
prices_arkq_df_close = prices_ark_df["ARKQ"]["close"]
prices_arkq_df_close                                    
#bitstamp_sliced = bitstamp.loc[:, ["Close"]]
#agg_close_price = float(prices_df["AGG"]["close"])
# Change the column names
# df.columns =['Col_1', 'Col_2']
  
prices_arkq_df_close

time
2019-02-04 00:00:00-05:00    33.667
2019-02-05 00:00:00-05:00    34.130
2019-02-06 00:00:00-05:00    34.210
2019-02-07 00:00:00-05:00    33.110
2019-02-08 00:00:00-05:00    33.280
                              ...
2022-02-08 00:00:00-05:00    66.150
2022-02-09 00:00:00-05:00    67.810
2022-02-10 00:00:00-05:00    66.130
2022-02-11 00:00:00-05:00    65.000
2022-02-14 00:00:00-05:00    64.900
Name: close, Length: 761, dtype: float64

In [210]:
prices_arkw_df_close = prices_ark_df["ARKW"]["close"]
prices_arkw_df_close

time
2019-02-04 00:00:00-05:00    50.2661
2019-02-05 00:00:00-05:00    50.6800
2019-02-06 00:00:00-05:00    50.4200
2019-02-07 00:00:00-05:00    49.2500
2019-02-08 00:00:00-05:00    49.5600
                              ...
2022-02-08 00:00:00-05:00    93.3800
2022-02-09 00:00:00-05:00    97.7100
2022-02-10 00:00:00-05:00    95.0500
2022-02-11 00:00:00-05:00    92.2200
2022-02-14 00:00:00-05:00    91.9700
Name: close, Length: 761, dtype: float64

In [214]:
prices_ark_close_df = pd.concat([prices_arkk_df_close, prices_arkq_df_close, prices_arkw_df_close], axis= 1, sort=False, )
prices_ark_close_df.columns =['ARKK', 'ARKQ', 'ARKW']
prices_ark_close_df
#all_neighborhoods_df = pd.concat(    [neighborhood_locations_df, all_neighborhood_info_df],    axis="columns",    sort=False)

                            ARKK    ARKQ     ARKW
time
2019-02-04 00:00:00-05:00  43.79  33.667  50.2661
2019-02-05 00:00:00-05:00  43.91  34.130  50.6800
2019-02-06 00:00:00-05:00  43.98  34.210  50.4200
2019-02-07 00:00:00-05:00  42.50  33.110  49.2500
2019-02-08 00:00:00-05:00  42.93  33.280  49.5600
...                          ...     ...      ...
2022-02-08 00:00:00-05:00  72.39  66.150  93.3800
2022-02-09 00:00:00-05:00  76.03  67.810  97.7100
2022-02-10 00:00:00-05:00  73.84  66.130  95.0500
2022-02-11 00:00:00-05:00  71.82  65.000  92.2200
2022-02-14 00:00:00-05:00  71.37  64.900  91.9700

[761 rows x 3 columns]

In [173]:
prices_ark_close_df.columns= ['ARKK', 'ARKQ']
prices_ark_close_df

                              ARKK     ARKQ
time
2019-01-02 00:00:00-05:00  37.4096  29.5613
2019-01-03 00:00:00-05:00  36.1500  28.4200
2019-01-04 00:00:00-05:00  38.4100  29.7120
2019-01-07 00:00:00-05:00  40.1150  30.3676
2019-01-08 00:00:00-05:00  40.2500  30.7000
...                            ...      ...
2022-02-08 00:00:00-05:00  72.3900  66.1500
2022-02-09 00:00:00-05:00  76.0300  67.8100
2022-02-10 00:00:00-05:00  73.8400  66.1300
2022-02-11 00:00:00-05:00  71.8200  65.0000
2022-02-14 00:00:00-05:00  71.3700  64.9000

[787 rows x 2 columns]



Analyze the volatility of each of the four fund portfolios and of the S&P 500 Index by using box plots. To do so, complete the following steps:

1. Use the Pandas `plot` function and the `kind="box"` parameter to visualize the daily return data for each of the four portfolios and for the S&P 500 in a box plot. Be sure to include the `title` parameter, and adjust the figure size if necessary.

2. Use the Pandas `drop` function to create a new DataFrame that contains the data for just the four fund portfolios by dropping the S&P 500 column. Visualize the daily return data for just the four fund portfolios by using another box plot. Be sure to include the `title` parameter, and adjust the figure size if necessary.

    > **Hint** Save this new DataFrame&mdash;the one that contains the data for just the four fund portfolios. You’ll use it throughout the analysis.

3. Answer the following question: Based on the box plot visualization of just the four fund portfolios, which fund was the most volatile (with the greatest spread) and which was the least volatile (with the smallest spread)?